@import '../../sass/main.scss';

.carousel{
    width: 99%;
    height: 27rem;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    margin: 3rem auto;
    border-radius: 2rem;
    @media screen and (max-width: 1200px){
      width: 93%;
      height: 18rem;
      margin: 1rem auto;
    }
   
&_arrow{
    position: absolute;
      top: 50%;
      height: 13%;
      transform: translateY(-50%);
      cursor: pointer;
     
      &_right{
        right: 2%;
      }
      &_left{
        left: 2%;
      }
     
    }
}

.Defilementts{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: $color-primary;
  font-weight: 500;
  font-size: clamp(14px, 2vw, 18px);
}