@import '../../sass/main.scss';

.Nav{
    position: relative;
    bottom: -21px;
    color: $color-secondary;
    font-size: 1.5rem;
    display: flex;
    gap: 4.5rem;
    right: 17px;
    @media screen and (max-width: 700px){
        display: flex;
        font-size: 19px;
        gap: 1rem;
        margin: 0 auto;
        position: relative;
        top: 3%;
        left: 5%;
    }
    &_item{
        &_active{
            position: relative;
            color: $color-secondary;
            text-decoration: underline solid $color-secondary; 
    } } }
