@import '../../sass/main.scss';

.About{
    width: 100%;
    @media screen and (max-width: 600px){
        position: relative;
        bottom: 14PX;
        }
   .collapse{
        margin: 3rem auto;
        @media screen and (max-width: 1200px){
            margin: 38px auto;
        } 
      
    }
}

