@import '../../sass/main.scss';

.Header{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2.7rem;
    max-width: 87%;
    height: 8rem;
    margin: 0 auto;
    @media screen and (max-width: 900px){
        height: 100px;
    }
    img{
        height: 50%;
        position: relative;
        left: 10%;
        @media screen and (max-width: 700px){
            height: 51px;
            position: relative;
            bottom: 15%;
        }
    }}
